<div class="d-flex flex-row">

    <div class="p-2">
        <h1>List</h1>
    </div>
    <div class="flex-grow-1">
        <div class="d-flex justify-content-center">
            <div class="card w-25 m-1">
                <img class="card-img-top" src="/assets/0.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Max Leonard</h4>
                    <p class="card-text">Max Leonard is a Junior at the University of Chicago studying Economics and Data Science</p>
                    <a href="#!" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card w-25 m-1">
                <img class="card-img-top" src="/assets/0.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Max Leonard</h4>
                    <p class="card-text">Max Leonard is a Junior at the University of Chicago studying Economics and Data Science</p>
                    <a href="#!" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
    </div>

</div>

